version: "2"

services:
  pixelsrv:
    build: ./pixelsrv
    network_mode: host
    volumes:
      - ./pixelsrv:/pixelsrv
    environment:
      - LOGPATH=/pixelsrv/access.log
      - HTTP_PORT=80
      - HTTPS_PORT=443

  unbound:
    build:
      context: ./unbound
      args:
        BLACKLIST_URLS: "https://raw.githubusercontent.com/AdAway/adaway.github.io/master/hosts.txt
          https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.2o7Net/hosts
          https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Dead/hosts
          https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Risk/hosts
          https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Spam/hosts
          https://www.malwaredomainlist.com/hostslist/hosts.txt
          http://winhelp2002.mvps.org/hosts.txt
          http://someonewhocares.org/hosts/zero/hosts
          https://raw.githubusercontent.com/FadeMind/hosts.extras/master/SpotifyAds/hosts
          https://raw.githubusercontent.com/StevenBlack/hosts/master/data/StevenBlack/hosts
          https://raw.githubusercontent.com/tyzbit/hosts/master/data/tyzbit/hosts
          https://raw.githubusercontent.com/FadeMind/hosts.extras/master/UncheckyAds/hosts
          https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/win10/spy.txt
          https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/win81/spy.txt
          https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&mimetype=plaintext&useip=0.0.0.0
          https://raw.githubusercontent.com/StevenBlack/hosts/master/alternates/fakenews-porn/hosts"
    network_mode: host
    volumes:
      - ./unbound/unbound.conf:/etc/unbound/unbound.conf
    restart: always

  dnscrypt:
    build:
      context: ./dnscrypt
      args:
        RESOLVERS_CSV_URL: "https://github.com/jedisct1/dnscrypt-proxy/raw/master/dnscrypt-resolvers.csv"
    network_mode: host
    restart: always
    environment:
      - DNSCRYPT_RESOLVER=cs-uswest2
      - DNSCRYPT_LOCAL_ADDR=0.0.0.0:5444

  squid:
    build: ./squid
    network_mode: host
